<!-- ======= Header ======= -->
<header id="header" class="header-transparent">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4">
        <div class="logo">
          <a><img class="img-fluid" src="assets\img\logo-png.png"></a>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="nav-menu">
          <li>
            <a data-toggle="modal" data-target="#loginModal">Login</a>
          </li>
          <li>
            <a data-toggle="modal" data-target="#registerModal">Registration </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header><!-- End Header -->

<!-- Login -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModal">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="card border-0 p-0">
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="submitLogin()">
              
              <div class="form-group row">
                <label for="email_address" class="col-md-4 col-form-label text-md-right">Username</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" formControlName="username" placeholder="username" name="username" autocomplete="off" required>
                  <div class="text-danger" *ngIf="frmuUsername.invalid && (frmuUsername.dirty || frmuUsername.touched)">
                    Invalid username, please retry again
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                <div class="col-md-6">
                  <input type="{{passwordType}}"  class="form-control" formControlName="password" placeholder="password" name="password" autocomplete="off" required>
                  <div class="text-danger" *ngIf="frmPassword.invalid && (frmPassword.dirty || frmPassword.touched)">
                    Invalid password, please retry again
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6 offset-md-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="remember"> Remember Me
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-md-6 offset-md-4">
                <button  type="submit" class="btn btn-success" [ngClass]="{'btn-disable': !form.valid}" aria-label="Close">
                  Login
                </button >
                <p><em class="text-danger">{{errorMsg}}</em></p>
                <p><em class="text-success">{{successMsg}}</em></p>
              </div>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<!-- Registration -->

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModal">Registration Now</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="card border-0 p-0">
          <div class="card-body">
            <form [formGroup]="formRgit" (ngSubmit)="submitRegister()">
              <div class="form-group row">
                <label class="col-md-4 col-form-label text-md-right">Client Name</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" formControlName="name" placeholder="Client Name" name="name" autocomplete="off" required pattern="[a-zA-Z ]*">
                  <div class="text-danger" *ngIf="frmcname.invalid && (frmcname.dirty || frmcname.touched)">
                    Invalid Name, please retry again
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-4 col-form-label text-md-right">Contact Number</label>
                <div class="col-md-6">
                  <input type="number" class="form-control" formControlName="phone" placeholder="Contact Number" name="phone" autocomplete="off" required>
                  <div class="text-danger" *ngIf="frmphone.invalid && (frmphone.dirty || frmphone.touched)">
                    Invalid Contact Number, please retry again
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-4 col-form-label text-md-right">eMail Address</label>
                <div class="col-md-6">
                  <input type="email" class="form-control" formControlName="email" placeholder="Email Address" name="email" autocomplete="off" required>
                  <div class="text-danger" *ngIf="frmemail.invalid && (frmemail.dirty || frmemail.touched)">
                    Invalid eMail, please retry again
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="" class="col-md-4 col-form-label text-md-right">Address</label>
                <div class="col-md-6">
                  <textarea class="form-control" formControlName="address" name="address" autocomplete="off" required></textarea>
                  <div class="text-danger" *ngIf="frmaddress.invalid && (frmaddress.dirty || frmaddress.touched)">
                    Invalid Address, please retry again
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="" class="col-md-4 col-form-label text-md-right">Instrument</label>
                <div class="col-md-6">
                  <input type="text" class="font-control" formControlName="instrument" name="instrument" autocomplete="off" required pattern="[a-zA-Z ]*">
                  <div class="text-danger" *ngIf="frminstrument.invalid && (frminstrument.dirty || frminstrument.touched)">
                    Invalid Instrument, please retry again
                  </div>
                </div>
              </div>

              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-success" [ngClass]="{'btn-disable': !form.valid}">
                  Register
                </button>
                <p><em class="text-danger">{{errorMsg}}</em></p>
                <p><em class="text-success">{{successMsg}}</em></p>
              </div>

            </form>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
  <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Live data feed</span></h2>
        <p class="animate__animated animate__fadeInUp">Market data and data management solutions for Financial website
          and startups </p>
        <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
      </div>
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Services Section ======= -->
  <section class="services">
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
          <div class="icon-box icon-box-pink">
            <div class="icon"><i class="fa fa-dribbble"></i></div>
            <h4 class="title"><a href="">NSE</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
              occaecati cupiditate non provident</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="fa fa-file"></i></div>
            <h4 class="title"><a href="">MCX</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
          <div class="icon-box icon-box-green">
            <div class="icon"><i class="fa fa-tachometer"></i></div>
            <h4 class="title"><a href="">CDS</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
          <div class="icon-box icon-box-blue">
            <div class="icon"><i class="fa fa-globe"></i></div>
            <h4 class="title"><a href="">BSE</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              voluptatum deleniti atque</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Why Us Section ======= -->
  <section class="section-bg">
    <div class="container">
      <h1 class="text-center text-uppercase font-weight-bold">Beyond Market Data</h1>
      <h5 class="text-center">On top of basic services we offer a portfolio of versatile analytical services, custom
        solutions, cloud services, data management and index management solutions</h5>
      <div class="row mt-4 bmd-content">
        <div class="col-md-4">
          <i class="fa fa-refresh fa-2x"></i>
          <h4>Historical Tick Data: Extraction and Time-Machine Market Replay</h4>
          <p>A "YouTube for the market". The fully scalable solution utilizes the power of cloud computing and brings
            virtually unlimited capacity and scalability for tick data storage, access and replay across all asset
            classes: options, equities, futures, indices, FX and custom data sets. Delivered directly to the end-client
            from our cloud, no extra infrastructure required.</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-refresh fa-2x"></i>
          <h4>Historical Tick Data: Extraction and Time-Machine Market Replay</h4>
          <p>A "YouTube for the market". The fully scalable solution utilizes the power of cloud computing and brings
            virtually unlimited capacity and scalability for tick data storage, access and replay across all asset
            classes: options, equities, futures, indices, FX and custom data sets. Delivered directly to the end-client
            from our cloud, no extra infrastructure required.</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-refresh fa-2x"></i>
          <h4>Historical Tick Data: Extraction and Time-Machine Market Replay</h4>
          <p>A "YouTube for the market". The fully scalable solution utilizes the power of cloud computing and brings
            virtually unlimited capacity and scalability for tick data storage, access and replay across all asset
            classes: options, equities, futures, indices, FX and custom data sets. Delivered directly to the end-client
            from our cloud, no extra infrastructure required.</p>
        </div>
        <br />
        <div class="col-md-4">
          <i class="fa fa-refresh fa-2x"></i>
          <h4>Historical Tick Data: Extraction and Time-Machine Market Replay</h4>
          <p>A "YouTube for the market". The fully scalable solution utilizes the power of cloud computing and brings
            virtually unlimited capacity and scalability for tick data storage, access and replay across all asset
            classes: options, equities, futures, indices, FX and custom data sets. Delivered directly to the end-client
            from our cloud, no extra infrastructure required.</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-refresh fa-2x"></i>
          <h4>Historical Tick Data: Extraction and Time-Machine Market Replay</h4>
          <p>A "YouTube for the market". The fully scalable solution utilizes the power of cloud computing and brings
            virtually unlimited capacity and scalability for tick data storage, access and replay across all asset
            classes: options, equities, futures, indices, FX and custom data sets. Delivered directly to the end-client
            from our cloud, no extra infrastructure required.</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-refresh fa-2x"></i>
          <h4>Historical Tick Data: Extraction and Time-Machine Market Replay</h4>
          <p>A "YouTube for the market". The fully scalable solution utilizes the power of cloud computing and brings
            virtually unlimited capacity and scalability for tick data storage, access and replay across all asset
            classes: options, equities, futures, indices, FX and custom data sets. Delivered directly to the end-client
            from our cloud, no extra infrastructure required.</p>
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a routerLink='home'>Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink='about'>About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            Pune, Maharashtra India.
            Sydney, Australia. <br><br>
            <strong>Phone:</strong> +19 20 4122 0824<br>
            <strong>Email:</strong> info@matflycom<br>
          </p>

        </div>

        <div class="col-lg-3 col-md-6 footer-info">
          <h4>About Moderna</h4>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta
            donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>metaGold</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://matfly.com/" target="_blank">Matfly Pvt Ltd</a>
    </div>
  </div>
</footer><!-- End Footer -->