.background {
    /* background-image: url("../../assets/img/hd-backgrounds-simple-simple-blue-background-wallpaper-2560x1440.jpg") !important;  */
    background-size: cover !important;
    background-position: center !important;
    background-color: aquamarine;
}

/* margin of all page */
.margin {
    margin: 30px 0 30px 0;
}

/*centre the display image inside the container*/ 
  
.imgcontainer { 
	/* text-align: center;  */
    margin: 12px 0 0 0; 
    padding: 10px;
} 
/*set image properties*/ 
  
img.avatar { 
	width: 20%; 
	border: 20%; 
} 

/* button for register and login */

.reg_button {
    position: relative;
    /* margin-left: 1100px; */
    /* float: right !important;
    margin-bottom: 0 !important; */
}

/* Dropdown */

