 <!-- ======= Header =======  -->

<header id="header" class="header-transparent bg-light border-bottom border-warning">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="logo">
                    <a><img class="img-fluid" src="assets\img\logo-png.png"></a>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="nav-menu">
                    <li>
                        <a (click)="logout()">Logout</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#registerModal">Request Market</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <a >Welcome !! {{currentUser}}</a> -->
    </div>
</header><!-- End Header -->


<!-- Create New -->

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModal">Request New Market</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="card border-0 p-0">
          <div class="card-body">

            <form [formGroup]="form" (ngSubmit)="submitReq()">
              
              <div class="form-group row">
                <label class="col-md-4 col-form-label text-md-right">Instrument</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" formControlName="instrument" placeholder="Enter Instrument" name="instrument" autocomplete="off" required pattern="[a-zA-Z]+">
                  <div class="text-danger" *ngIf="frmInstrument.invalid && (frmInstrument.dirty || frmInstrument.touched)">
                    Invalid instrument, please retry again
                  </div>
                </div>
              </div>

              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-success">
                  New Market
                </button>
                <p><em class="text-danger">{{errorMsg}}</em></p>
                <p><em class="text-success">{{successMsg}}</em></p>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Dashboard -->

<main id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-dark text-light text-uppercase">
                            <tr>
                                <th>No Of Element</th>
                                <th>Total Payment</th>
                                <th>Api Purchase Date</th>
                                <th>Api Renewal Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody class="bg-light text-capitalize">
                            <tr *ngFor="let item of dataList; let i = index;">
                                <td>{{item.no_of_element}}</td>
                                <td>{{item.total_payment}}</td>
                                <td>{{item.api_purchase_date}}</td>
                                <td>{{item.api_renewal_date}}</td>
                                <td>
                                  <i *ngIf="item.flag == 0" class="text-success" title="Active">Active</i>
                                  <i *ngIf="item.flag == 1" class="text-danger" title="Renewal">Renewal</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</main><!-- End #main -->
